<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>   
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th scope="row">{{_id}}</th>
      <td>{{pName}}</td>
      <td>{{pDesc}}</td>
      <td>{{pPrice}}</td>
     
       <td><form action="/products/edit-products/{{_id}}" method="GET">
       <button type="submit" class="btn btn-primary">Edit</button></form></th>

         <td><form action="/products/delete-products/{{_id}}" method="GET">
       <button type="submit" class="btn btn-danger">Delete</button></form></th>

    </tr>
    {{/each }}
  </tbody>
</table>